<div class="container">
    <button  routerLink="/jobseekerList" class="btn btn-primary">View Job Seeker List</button>&nbsp;
    <button  routerLink="/employerList" class="btn btn-primary">View Employer List</button>&nbsp;
    <button routerLink="/admin-viewJobList" class="btn btn-primary">View Job List</button>&nbsp;
    <button routerLink="/admin-applicationList" class="btn btn-primary">View Application List</button>&nbsp;
    <button routerLink="/admin-contactrequest" class="btn btn-primary">Contact Request</button>
    
    <br>
</div>

