


<!-- Footer -->
<footer class="page-footer font-small indigo" style="background-color: #566D7E;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>

        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
          <div style="color:white;">
             <b style="color: hotpink; font-size: 20px; ">Amaran Infotech Private Limited,</b> <br>
             Amaran Infotech is one among the top 10 Software companies in India.
             It is the best platform for connecting jobs and people
        
          </div>
        </nav>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-2 mb-2" style="color: tomato;">Quick Links</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="home">Home</a>
          </li>
          <li>
            <a routerLink="search">Search</a>
          </li>
          <li>
            <a routerLink="jobseeker-login">Job Seeker</a>
          </li>
          <li>
            <a routerLink="employer-login">Employer</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

    

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-2 mb-2" style="color: tomato;">Address</h5>

        <ul class="list-unstyled">
          <li style="color:honeydew"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
            Bangalore, India.
          </li>
          <li style="color:honeydew"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
            +91-9790764393
          </li>
        </ul>

        <h5 class="font-weight-bold text-uppercase mt-2 mb-2" style="color: tomato;">For any queries</h5>

        <ul class="list-unstyled">
          <li style="color:honeydew"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
            admin@amaraninfotech.com
          </li>
        
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color:white">  Copyright &copy; All Rights Reserved @Sweet Job portal 2021
   
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->