<div class="container my-4">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading">It all started with Amaran Infotech Idea. <span class="text-muted">Top 10
                    software companies in india</span></h2>
            <p class="lead">Amaran Infotech is one among the top 10 Software companies in India.They had already
                developed and maintaining some popular websites to cover Real Estate industry and also to cover
                Matrimonial industry for about 25 years. Now Amaran Infotech decided to develop a similar web
                application to cover employment sector.</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="assets/images/about1.jpg" alt="">
        </div>
    </div>

    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">We started Amaran Infotech Private Limited to find jobs for jobseeker <span
                    class="text-muted">You Trust We Care</span></h2>
            <p class="lead">Find your first job with Amaran Infotech. You trust we care. We help you to find your first
                job. </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="img-fluid" src="assets/images/handshake.jpg" alt="">

        </div>
    </div>

    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading">We are here to hire.
                We are here to help. <span class="text-muted">Post your job, interview candidates and make offers, all
                    on SweetJob. Start hiring today.</span></h2>
            <p class="lead">Acquiring the right talent is the most important key to growth. Hiring was – and still is –
                the most important thing you can do.</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="assets/images/about-3.jpg" alt="">
        </div>
    </div>
</div>