<br>
<br>
<div class="container">
    <button routerLink="/jobseeker-uploadCV" class="btn btn-primary">Upload CV</button>&nbsp;
    <button routerLink="/jacount" class="btn btn-primary">Account Setting</button>&nbsp;
    <button routerLink="/jobseeker-update" class="btn btn-primary">Update your profile</button> &nbsp;
    <button routerLink="/jobseeker-joblist" class="btn btn-primary">Joblist</button> &nbsp;
    <button class="btn btn-primary" routerLink={{url}}>Applied Jobs</button>&nbsp;&nbsp;
</div><br>